{
  "https-enabled": false,
  "ssh-keyscan": true,
  "repositories": [
    {
      "url": "https://github.com/github/gitignore",
      "path": "/var/www/html",
      "branch": "development",
    }
  ]
}
